body {
    background-image: url("BoardsImage.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 100% 200%;
   }
   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-image: linear-gradient(to top right, rgb(199, 200, 255), rgb(1, 52, 129));
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: rgb(4, 29, 75);
    color: white;
  }
  #Writing{
  font-weight: bold;
font-size: large;
color:white
}